.right-side-buttons {
  p {
    color: $ie-color;
  }
  p:hover {
    color: #ffffff;
    cursor: pointer;

  }
}
.upper-nav {
  ul {
    color: $ie-color;
    border-bottom: 0.063rem solid $ie-color;
    display: flex;
    flex-direction: row;
    padding: 15px 0 10px 0;
  }
  li {
    font-size: 0.75rem;
    margin-right: 2.1rem;
    letter-spacing: 0.019rem;
    line-height: 1rem;
  }
  li:hover {
    color: white;
    cursor: pointer;
  }
}
.lower-nav {
  ul {
    color: $ie-color;
    display: flex;
    flex-direction: row;
    padding: 1.7rem 0;
  }
  li {
    font-size: 1rem;
    margin-right: 2.1rem;
    letter-spacing: 0.031rem;
    line-height: 1.5rem;
  }
  li:hover {
    color: #ffffff;
    cursor: pointer;

  }
}
.right-side-buttons {
  p {
    color: $ie-color;
  }
  p:hover {
    color: #ffffff;
  }
}
.right-side-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 10px auto;
}
.right-side-upper-buttons,
.right-side-lower-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-width: 10rem;
}
.right-side-upper-button {
  margin: 0 5px 5px 5px;
}
figure {
  margin: 0 5px 5px 5px;
}
.select2-container {
  max-width: 75%!important;
  margin-right: 30px!important;
  font-size: 1.188rem;
  border: none;
  padding: 14px 20px 16px 14px;
  position: relative;
  vertical-align: middle;

  & .select2-dropdown {
    font-size: 1rem;
    border: none;
    text-align: left;
    box-sizing: border-box;
    display: block;
    z-index: 1051;
    outline: none;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.178);
  }
  & .select2-selection--single {
    background-color: #fff;
  }

  & .select2-results__option--selected,
  .select2-results__option {
    background-color: white;
    color: #4599b3;
    padding: 15px 20px;
  }
  & .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #4599b3;
    color: white;
    padding: 15px 20px;
  }
  & .select2-selection--single .select2-selection__arrow b {
    border: solid #414141;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 5px;
    transform: rotate(45deg);
    transition: all 400ms;
    position: absolute;
    top: 30%;
    right: 8%;
    width: 0;
  }
}
.select2-container--main.select2-container--open .select2-selection__arrow b {
  // border: solid #414141;
  // border-width: 1px 0 0 1px;
  display: inline-block;
  padding: 5px;
  transform: rotate(225deg);
  transition: all 400ms;
  position: absolute;
  top: 30%;
  right: 8%;
  width: 0;
}
.main-right-form {
  display: flex;
  flex-direction: column;
  position: relative;
  & .dropdowns-right {
    display: flex;
    justify-content: space-between;
    margin-top: 2.3rem;
  }
  & label {
    margin-top: 34px;
    position: relative;
    top: 13px;
    transition: font-size 400ms;
  }
  & input[type="text"],
  input[type="email"] {
    margin-top: 5px;
    border: none;
    font-family: NeueHaasGrotesk45;
    font-size: 1.625rem;
    font-weight: 100;
    padding: 14px 0 7px 0;
    border-bottom: 1.5px solid rgba(128, 128, 128, 0.63);
  }
  & input[type="text"]:focus,
  input[type="email"]:focus {
    outline: none;
  }
  & h4 {
    color: $primary-color;
    font-weight: 100;
    letter-spacing: 0.031rem;
  }
}
