* {
  margin: 0;
  font-family: NeueHaasGrotesk45;
  box-sizing: border-box;
}
a,
a:visited {
  color: $primary-color;
}
header {
  display: flex;
  flex-direction: row;
  height: 134px;
  // max-width: 1440px;
  // margin: 0 auto;
  font-family: NeueHaasGrotesk45;
  font-weight: 100;
  line-height: 1.5rem;
  letter-spacing: 0.031rem;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}
.left-side {
  flex-basis: 25%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.logo {
  flex-grow: 2;
  & img {
    width: 60%;
    height: auto;
  }
}
.language {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  & #language {
    font-size: 0.6rem;
    letter-spacing: 0.01rem;
  }
  & .down-arrow {
    margin-left: 0.5rem;
    font-size: 0.55rem;
  }
}

.right-side {
  background-color: $primary-color;
  flex-basis: 75%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 0 10px;
}
.right-side-navigation {
  flex-basis: 50%;
}
.right-side-buttons {
  flex-basis: 45%;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 100px;
}
.right-side-navigation ul {
  list-style-type: none;
}
.upper-nav {
  ul {
    color: $nav-color;
    border-bottom: 0.063rem solid $nav-color;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 15px 0 10px 0;
  }
  // & :nth-child(2){
  //   color: red;
  // }
  li {
    font-size: 0.75rem;
    margin-right: 2.3rem;
    letter-spacing: 0.031rem;
    line-height: 1rem;
  }
  li:hover {
    color: white;
  }
}

.lower-nav {
  display: none;
  ul {
    color: $nav-color;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1.7rem 0;
  }
  li {
    font-size: 1rem;
    margin-right: 2.1rem;
    letter-spacing: 0.031rem;
    line-height: 1.5rem;
  }
  li:hover {
    color: #ffffff;
  }
}
.right-side-upper-buttons,
.right-side-lower-buttons {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  color: white;
}
.right-side-upper-buttons {
  display: flex;
  align-items: center;
  & .right-side-upper-button {
    color: white;
  }
  & .right-side-upper-button:last-of-type {
    font-weight: bolder;
    font-size: 1rem;
  }
}
.right-side-lower-buttons {
  margin-top: 28px;
}
.right-side-lower-buttons i:first-child {
  border: 3px solid white;
  padding: 12px;
  border-radius: 50%;
}
.right-side-lower-buttons i:last-child {
  padding: 13px;
  color: $primary-color;
  border-radius: 50%;
  background-color: white;
}
.right-side-buttons {
  p {
    color: $nav-color;
  }
  p:hover {
    color: #ffffff;
  }
}
.right-side-upper-button,
.right-side-lower-button {
  text-transform: uppercase;
  font-size: 00.75rem;
}
.main {
  font-family: NeueHaasGrotesk45;
  font-weight: 100;
  letter-spacing: 0.031rem;
  color: #414141;
  line-height: 1.5rem;
  padding: 0 20px;
  max-width: 100%;
  margin: 60px auto 60px auto;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
}
.main-left-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  & h2 {
    font-size: 1.4rem;
    color: $primary-color;
    margin: 0 0 30px 0;
    font-family: NeueHaasGrotesk45;
    font-weight: 100;
  }
  & section h6 {
    color: #90c3db;
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: lighter;
    margin-bottom: 10px;
  }
}
.article-card-left {
  width: 100%;
  margin: 0 0 40px 0;
  padding-right: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  letter-spacing: 0.031rem;

  & i {
    font-size: 2.5rem;
    color: $primary-color;
  }
  & .article-logo {
    min-width: 60px;
  }
  .article-text {
    width: 100%;
  }
  & ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  & li::before {
    content: "—";
    font-size: 20px;
    padding-right: 18px;
    color: #f87024; /* Or a color you prefer */
  }
}
.main-left-section,
.main-right-section {
  padding: 10px 10px 0 10px;
}
.main-right-section {
  display: flex;
  flex-direction: column;
  & i {
    color: $primary-color;
    margin-right: 12px;
    font-size: 1.5rem;
    transform: scaleX(-1);
  }
  & h2 {
    font-size: 1.938rem;
    color: #414141;
    margin: 0 0 30px 0;
    font-family: NeueHaasGrotesk45;
    font-weight: 100;
  }
  & .right-section-heading-logo {
    display: flex;
  }
}

.main-right-form {
  display: flex;
  flex-direction: column;

  & .dropdowns-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // background-color: red;
    margin-top: 2.3rem;
  }
  & label,
  h4 {
    margin-top: 34px;
    position: relative;
    top: 5px;
    transition: font-size 400ms;
  }
  & input[type="text"],
  input[type="email"] {
    margin-top: 5px;
    border: none;
    border-bottom: 1.5px solid rgba(128, 128, 128, 0.63);
  }
  & input[type="text"]:focus,
  input[type="email"]:focus {
    outline: none;
  }
  & h4 {
    color: $primary-color;
    font-weight: 100;
    letter-spacing: 0.031rem;
  }
}
.account {
  margin: 30px 0 60px 0;
}
.radio-buttons {
  display: flex;
  & :nth-child(1) {
    margin-left: 0px;
  }
  & :nth-child(2) {
    margin-left: 30px;
  }
}
// custom checkbox START
[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
  position: relative;
  left: -30px;
  top: 30px;
  padding-left: 60px;
  cursor: pointer;
  color: #414141;
  display: inline-block;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: -13px;
  width: 44px;
  height: 44px;
  border: 2px solid $primary-color;
  border-radius: 100%;
  background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: "";
  width: 39px;
  height: 39px;
  background: $primary-color;
  position: absolute;
  top: -9px;
  left: 4px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
// custom checkbox END
.gdpr {
  margin-top: 30px;
  display: flex;
  align-items: flex-start;
  & p {
    margin-left: 20px;
  }
}

.form-group {
  display: block;
  margin-bottom: 15px;
}
.form-group input {
  padding: 0;
  display: none;
  cursor: pointer;
}
.form-group label {
  position: relative;
  cursor: pointer;
}
.form-group label:before {
  content: "";
  -webkit-appearance: none;
  background-color: transparent;
  border: 2.5px solid $primary-color;
  padding: 18px;
  display: inline-block;
  position: relative;
  top: -12px;
  left: 1px;

  cursor: pointer;
}
.form-group input:checked + label:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 28px;
  left: 14px;
  width: 10px;
  height: 18px;
  border: solid white;
  border-radius: 3px;
  border-width: 0 4px 4px 0;
  transform: rotate(45deg);
}
.form-group input:checked + label::before {
  background-color: $primary-color;
}

#submitBtn {
  width: 100%;
  border: none;
  height: 3.75rem;
  font-size: 1.188rem;
  padding: 17px 50px;
  color: $nav-color;
  margin: 71px 0;
  align-self: flex-end;
}
.focused {
  font-size: 0.75rem;
  font-weight: bold;
}
.invalid {
  color: red;
}
.enabled {
  background-color: orange;
  color: white;
  cursor: pointer;
}
.disabled {
  cursor: not-allowed;
  background-color: #d0d0d0;
  color: #ffffff;
}
.invalidDropdown {
  color: red !important;
  font-size: 20px;
}
.invalidArrow {
  border: solid red !important;
  border-width: 0 1px 1px 0 !important;
}
.select2 {
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.178);
}
.select2-container {
  font-size: 1.188rem;
  max-width: 100%;
  flex-grow: 1;
  box-sizing: border-box;
  padding: 14px 20px 20px 14px;
  margin-bottom: 30px !important;

  & .select2-dropdown {
    border: none;
    font-size: 1rem;
    text-align: left;
    box-sizing: border-box;
    display: block;
    z-index: 1051;
    outline: none;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.178);
  }
  & .select2-selection--single {
    background-color: #fff;
  }

  & .select2-results__option--selected,
  .select2-results__option {
    background-color: white;
    color: #4599b3;
    padding: 15px 20px;
  }
  & .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #4599b3;
    color: white;
    padding: 15px 20px;
  }
  & .select2-selection--single .select2-selection__arrow b {
    border: solid #414141;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 5px;
    transform: rotate(45deg);
    position: absolute;
    top: 30%;
    right: 8%;
    width: 0;
  }
}
.select2-container--main.select2-container--open .select2-selection__arrow b {
  border: solid #414141;
  border-width: 1px 0 0 1px;
  display: inline-block;
  padding: 5px;
  transform: rotate(45deg);
  position: absolute;
  top: 30%;
  right: 8%;
  width: 0;
}
// FLATPICKER START

.flatpickr-custom {
  & input {
    width: 100%;
  }
}

.flatpickr-calendar {
  margin-top: 10px;

  & .flatpickr-months {
    padding-top: 10px;
    font-size: 0.8rem;
    & .flatpickr-prev-month i {
      position: relative;
      left: 35px;
      top: 5px;
      width: 24px;
      height: 24px;
      padding: 5px 0px;
      border: 1px solid black;
      border-radius: 100%;
    }
    & .flatpickr-month {
      & .flatpickr-current-month {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        font-family: NeueHaasGroteskBold;
        font-weight: bolder;
        font-size: 1rem;
        & .numInputWrapper {
          font-family: NeueHaasGroteskBold;
          font-weight: bolder;
          font-size: 1rem;
          margin-left: -5px;
          & .arrowUp,
          .arrowDown {
            display: none;
          }
        }
        & .numInputWrapper:hover {
          background: transparent;
        }
        & .flatpickr-monthDropdown-months {
          width: fit-content;
        }
        & .flatpickr-monthDropdown-months:hover {
          background: transparent;
        }
        & select {
          -webkit-appearance: none;
          -moz-appearance: none;
        }
        & select::-ms-expand {
          display: none;
        }
      }
    }
    & .flatpickr-next-month i {
      position: relative;
      right: 50px;
      top: 5px;
      width: 24px;
      height: 24px;
      padding: 5px 8px;
      border: 1px solid black;
      border-radius: 100%;
    }
  }
  & .flatpickr-innerContainer {
    & .flatpickr-rContainer {
      & .flatpickr-weekdays {
        margin: 5px 0;
        & .flatpickr-weekdaycontainer {
          padding: 10px 26px 0px 26px;
          & .flatpickr-weekday {
            font-family: NeueHaasGroteskBold;
            font-weight: bold;
            font-size: 0.7rem;
            letter-spacing: 0.5px;
            text-transform: uppercase;
          }
        }
      }
      & .flatpickr-days {
        & .dayContainer {
          padding: 10px 27px 30px 27px;
          justify-content: flex-start;
          & .flatpickr-day {
            font-size: 1rem;
            border-color: #e6e6e6;
            border-radius: 0;
            cursor: pointer;
            outline: 0;
            padding-bottom: 8px;
          }
          & .flatpickr-day:hover {
            background-color: $primary-color;
            color: white;
          }

          & .today {
            background-color: rgb(209, 207, 207);
            color: white;
          }
          & .selected{
            background-color: $primary-color;
            color: white;
          }

          & .nextMonthDay {
            display: none;
          }
        }
      }
    }
  }
}
// FLATPICKER END
