// import for each font used
@font-face {
  font-family: NeueHaasGrotesk45;
  src: url("../fonts/NeueHaasGrotesk-45-Light.woff") format("woff");
}
@font-face {
  font-family: NeueHaasGroteskBold;
  src: url("../fonts/NeueHaasGrotesk-Bold.woff") format("woff");
}

// import only the font styles needed - !!folder relative to compiled styles.CSS !!
@import "../scss/fontawesome.scss";
@import "../scss/solid.scss";

$primary-color: #4599b3;
$nav-color: #ffffff80;
$ie-color: #e2dfdf;

//path relative to compiled styles.CSS
$fa-font-path: "../webfonts";
