@import "variables";

@media screen and (max-width: 480px) {
  @import "small";
}
@media screen and (min-width: 481px) and (max-width: 1024px) {
  @import "medium";
}
@media screen and (min-width: 1025px) {
  @import "large";
}

// _:-ms-fullscreen,
// :root .ie11up {
//   
// }
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  @import "ie";  
}